.ipynb_checkpoints
*.pdf
*.Rhistory
*.bam
*.sam
*.fastq
*.o*
*.sqd
*.RData
*.bai
.bpipe/
*.csv
pre_git/
*cache*
*html
variants/
mapq/
*.cov
*.fa
tmp/
*.gz
Basecall_Stats*/
Undetermined_indices/
*.zip
Temp/
*.vcf
Translated*/
*.fasta
doc/
data/processed/*/all.variants.csv
results/Kimura_diffusion\.24-Copy1\.py

results/Kimura_diffusion\.copy\.py

results\.deepsnv/

\.\.bfg-report/

scripts/WFABC_v1\.1/

data/reference/Hong_Kong_PC1A\.fa\.fai

data/reference/cali09\.regions\.main\.alignment\.tsv

data/reference/perth\.regions\.main\.alignment\.tsv

data/reference/victoria\.regions\.main\.alignment\.tsv

results/notebook/2017_10_20/
.Rproj.user

HIVE\.Rproj

scripts/phaentu-approxwf-fcc7964e7398/

results/appoxWF/ApproxWF_MCMC_output\.txt
